<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="EntidadesRH.Properties.Settings.ExpedienteConnectionString"
             connectionString="Data Source=uppisa;Initial Catalog=Expediente;Persist Security Info=True;User ID=sa;Password=isaias123"
            
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
<connectionStrings>
    <add name="cnnString" connectionString="Data Source=MAX-PC\MAXIMO;Initial Catalog=Expediente;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
<!--connectionString="Data Source=isaiaslap;Initial Catalog=Expediente;Persist Security Info=True;User ID=sa;Password=isaias_123"-->
